/ServiceOrient/TestTwo/.vs
/ServiceOrient/TestTwo/.vs
/ServiceOrient/TestTwo/.vs
/ServiceOrient/TestTwo/DatabaseWcfService/bin
/ServiceOrient/TestTwo/DatabaseWcfService/obj
/ServiceOrient/TestTwo/TestTwo/obj
/ServiceOrient/TestTwo/TestTwo
/ServiceOrient/TestTwo/TestTwo/obj
/TranslationsMethods/МТ2026/slnTwoModules/.vs
