/ServiceOrient/TestTwo/.vs
/ServiceOrient/TestTwo/.vs
/ServiceOrient/TestTwo/.vs
/ServiceOrient/TestTwo/DatabaseWcfService/bin
/ServiceOrient/TestTwo/DatabaseWcfService/obj
/ServiceOrient/TestTwo/TestTwo/obj
/ServiceOrient/TestTwo/TestTwo
/ServiceOrient/TestTwo/TestTwo/obj
/TranslationsMethods/МТ2026/slnTwoModules/.vs
MultiProc/Lab5/input.txt
MultiProc/Lab5/output_mq2.txt
MultiProc/Lab5/output_posl.txt
MultiProc/Lab5/output_sem.txt
